@charset "utf-8";
/* CSS Document */
p, 
blockquote, 
pre,
a, 
abbr, 
acronym, 
address, 
big, 
cite, 
code,
del, 
dfn, 
em, 
font, 
img, 
ins, 
kbd, 
q, 
s, 
samp,
small, 
strike, 
strong, 
sub, 
sup, 
tt, 
var,
b, 
u, 
i, 
center,
dl, 
dt, 
dd, 
ol, 
ul, 
li,
fieldset, 
form, 
label, 
legend,
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td,
article,
aside,
command,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	}
	
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
	}
	
body {
	font-family: "proxima-nova",sans-serif;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	width: 100%;
	}
	
	
h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova",sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

li {
	list-style: none;
	}
	
/* Link */
a {
	text-decoration: none;
	}
	
a:hover {
	text-decoration: underline;
	}
	
::-ms-clear {
	display: none;
	}
	
textarea {
	overflow: auto;
	}
	
/* General */
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
	clear: both;
	}
	
/* Button */
.btn-default {
	border: #ffffff solid 1px;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-family: "proxima-nova",sans-serif;
	font-size: 12px;
	height: 36px;
	line-height: 34px;
	margin: 0 6px;
	padding: 0 15px;
	text-align: center;
	}
	
.btn-default:hover {
	background-color: rgba(255,255,255,.2);
	text-decoration: none;
	}
	
.btn-primary {
	background-color: rgba(7,168,242,1);
	border: #07a8f2 solid 1px;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-family: "proxima-nova",sans-serif;
	font-size: 12px;
	height: 36px;
	line-height: 34px;
	padding: 0 15px;
	text-align: center;
	}
	
.btn-primary:hover {
	background-color: rgba(11,101,165,1);
	border-color: #0b65a5;
	text-decoration: none;
	}

.icon:before {
	background-image: url(../i/mobile/icons.png);
	background-size: 300px 130px;
	content: '';
	display: block;
	}
	
/* Header */
header {
	padding: 15px 12px;
	position: relative;
	}
	
	header .logo {
		background-image: url(../i/mobile/logo.png);
		background-size: 151px 25px;
		float: left;
		height: 25px;
		margin-top: 15px;
		width: 151px;
		}
		
	header .btn-primary {
		float: right;
		margin:10px 5px 0;
		}
		
/* Deliver Crowdsoucring Widget */
.widget-deliver-crowdsourcing {
	background-image: url(../i/mobile/bg-deliver-crowdsourcing.jpg);
	background-size: cover;
	padding: 38px 0 41px 0;
	}

	.widget-deliver-crowdsourcing h2 {
		color: #ffffff;
		font-size: 21px;
		line-height: 25px;
		margin: 0 60px 0 29px;
		}
		
	.widget-deliver-crowdsourcing p {
		color: #ffffff;
		font-family: "proxima-nova",sans-serif;
		font-size: 16px;
		line-height: 24px;
		margin: 0 60px 0 32px;
		padding: 18px 0 31px 0; 
		}
	
	/* Button Group */	
	.widget-deliver-crowdsourcing .btn-group {
		padding-left: 26px;
		}
		
/* Crodwsourcing Exceptional Widget */
.widget-crodwsourcing-exceptional {
	background-color: rgba(255,255,255,1);
	padding: 16px 0 17px 0;
	text-align: center;
	}
	
	.widget-crodwsourcing-exceptional h2 {
		color: #8a8a8a;
		font-size: 21px;
		line-height: 45px;
		}
		
	.widget-crodwsourcing-exceptional li {
		padding: 20px 0 23px 0;
		}
		
	.widget-crodwsourcing-exceptional h3 {
		font-family: "proxima-nova",sans-serif;
		font-size: 17.5px;
		line-height: 20px;
		padding-bottom: 20px;
		}
		
	.widget-crodwsourcing-exceptional p {
		color: #656565;
		font-family: "proxima-nova",sans-serif;
		font-size: 16px;
		line-height: 19px;
		padding: 0 42px 19px 42px;
		}
		
	.widget-crodwsourcing-exceptional li h3.icon:before {
		height: 66px;
		margin: 0 auto 19px auto;
		width: 64px;
		}
		
	/* Design & Rapid Prototyping */
	.widget-crodwsourcing-exceptional .design h3 {
		color: #07a8f2;
		}
		
	.widget-crodwsourcing-exceptional .design h3.icon:before {
		height: 65px;
		margin: 0 auto 24px auto;
		width: 67px;
		}
		
	/* Application Development */
	.widget-crodwsourcing-exceptional .aplication h3 {
		color: #03bb3f;
		}
		
	.widget-crodwsourcing-exceptional .aplication h3.icon:before {
		background-position: -80px 0;
		}
		
	/* Algorithms & Analytics */
	.widget-crodwsourcing-exceptional .algorithms h3 {
		color: #fe9003;
		}
		
	.widget-crodwsourcing-exceptional .algorithms h3.icon:before {
		background-position: -160px 0;
		}
		
/* Meet our community */
.widget-meet-community {
	background-image: url(../i/mobile/bg-meet-community.jpg);
	background-size: cover;
	text-align: center;
	}
	
	.widget-meet-community h2 {
		color: #fff;
		font-size: 21px;
		line-height: 40px;
		padding: 24px 0 19px 0;
		}
		
	.widget-meet-community p {
		color: #fff;
		font-family: "proxima-nova",sans-serif;
		font-size: 16px;
		line-height: 22.5px;
		padding: 0 14px;
		}
		
	.widget-meet-community ul {
		padding: 25px 0 38px 0;
		}
		
	.widget-meet-community li {
		color: #fff;
		float: left;
		font-family: "proxima-nova",sans-serif;
		font-size: 8.54px;
		line-height: 9.61px;
		min-height: 95px;
		padding: 22px 10px 0 10px;
		position: relative;
		width: 33.33333%;
		}
		
	.widget-meet-community li:before {
		background-color: rgba(154,146,163,1);
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		}
		
	.widget-meet-community li:first-child:before {
		background-color: transparent;
		}
		
		.widget-meet-community li > strong {
			display: block;
			font-family: "proxima-nova",sans-serif;
			font-size: 44px;
			font-weight: normal;
			line-height: 39px;
			}
			
		.widget-meet-community li span {
			display: block;
			}
			
		.widget-meet-community li.members > strong {
			color: #fe9003;
			}
			
		.widget-meet-community li.challenges > strong {
			color: #03bb3f;
			}
			
		.widget-meet-community li.paid > strong {
			color: #07a8f2;
			}
			
/* Challenges */
.widget-challenges {
	background-color: rgba(255,255,255,1);
	padding: 12px 0;
	text-align: center;
	}
	
	.widget-challenges h2 {
		color: #4b4b4b;
		font-size: 21px;
		padding: 14px 0;
		}
		
	.widget-challenges .valign-middle > p {
		color: #4b4b4b;
		font-size: 15px;
		line-height: 19px;
		padding: 0 64px 26px 64px;
		}
		
	.widget-challenges .valign-middle > p.view-all {
		display: none;
		}
		
	/* Slider Item */
	.widget-challenges .slick-slider {
		padding: 0 13px;
		}
	
	.widget-challenges .slide-item {
		background-color: rgba(255,255,255,1);
		box-shadow: rgba(0,0,0,.15) 0 1px 1px 1px;
		border-radius: 3px;
		margin: 0 13px 16px 13px;
		position: relative;
		text-align: left;
		}
		
	.widget-challenges .slide-item:before {
		background-color: rgba(0,0,0,1);
		border-radius: 3px 3px 0 0;
		content: '';
		display: block;
		height: 5px;
		position: absolute;
		top: 0;
		width: 100%;
		}
		
		.widget-challenges .slide-item .pull-left {
			float: left;
			}
			
		.widget-challenges .slide-item .pull-right {
			float: right;
			}
		
		.widget-challenges .slide-item > .type {
			font-family: "proxima-nova",sans-serif;
			font-size: 11.53px;
			position: absolute;
			top: 19px;
			right: 16px;
			}
			
		.widget-challenges .slide-item > .icon {
			background-color: rgba(0,0,0,1);
			border-radius: 50%;
			display: block;
			height: 54px;
			margin: 21px 16px 17px 16px;
			position: relative;
			width: 54px;
			}
			
		.widget-challenges .slide-item > .icon:before {
			position: absolute;
			top: 50%;
			left: 50%;
			}
			
		.widget-challenges .slide-item > h3 {
			color: #656565;
            display: block;
			font-size: 22.5px;
			line-height: 29.65px;
			height: 78px;
            overflow: hidden;
            position: relative;
        }
            .widget-challenges .slide-item > h3:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: 1.2em;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            }
        
		.widget-challenges .slide-item .meta {
			padding: 5px 16px 1px 16px;
			}
			
			.widget-challenges .slide-item .meta .date {
				color: #656565;
				font-size: 11.53px;
				line-height: 16px;
				}
				
			.widget-challenges .slide-item .meta ul {
				height: 16px;
				line-height: 16px;
				overflow: hidden;
				margin-top: -2px;
				}
				
			.widget-challenges .slide-item .meta li {
				color: #656565;
				display: inline-block;
				font-size: 11.53px;
				}
				
			.widget-challenges .slide-item .meta li > span {
				display: block;
				margin: 0 6px;
				padding: 0 0 0 12px;
				position: relative;
				}
				
			.widget-challenges .slide-item .meta li > span:before {
				height: 10px;
				margin-top: -5px;
				position: absolute;
				top: 50%;
				left: 0;
				width: 8px;
				}
				
			/* Icon */
			.widget-challenges .slide-item .meta li > span.icon-register:before {
				background-position: -90px -70px;
				}
				
			.widget-challenges .slide-item .meta li > span.icon-comments:before {
				background-position: -110px -70px;
				}
				
			.widget-challenges .slide-item .tech {
				color: #656565;
				font-size: 11.53px;
				line-height: 14.58px;
				padding: 0 16px;
				}
				
		.widget-challenges .slide-item .infor {
			padding: 30px 14px 30px 16px;
			}
			
			.widget-challenges .slide-item .infor .prize {
				color: #656565;
				font-size: 26.35px;
				line-height: 25px;
				}
				
			.widget-challenges .slide-item .infor li {
				display: inline-block;
				}
				
			.widget-challenges .slide-item .infor li a {
				display: block;
				height: 25px;
				margin: 0 0 0 8px;
				position: relative;
				top: -2px;
				width: 25px;
				}
				
			.widget-challenges .slide-item .infor li a > img {
				border-radius: 50%;
				display: block;
				height: 25px;
				width: 25px;
				}
				
			.widget-challenges .slide-item .infor li a > .badge {
				background-color: rgba(191,208,230,1);
				border: #fff solid 1px;
				border-radius: 50%;
				color: #66768c;
				display: block;
				font-size: 8px;
				height: 12px;
				line-height: 12px;
				position: absolute;
				bottom: -5px;
				right: -4px;
				text-align: center;
				width: 12px;
				}
				
			.widget-challenges .slide-item .infor li:first-child a > .badge {
				background-color: rgba(255,217,0,1);
				color: #a9822b;
				}
				
			.widget-challenges .slide-item .infor li:last-child a > .badge {
				background-color: rgba(209,128,19,1);
				color: #fff;
				}
	
		/* Button Group */			
		.widget-challenges .slide-item .btn-group {
			padding: 15px 0 17px 0;
			text-align: center;
			}
			
	/* Design */
	.widget-challenges .slide-item.design:before {
		background-color: rgba(7,168,242,1);
		}
		
		.widget-challenges .slide-item.design > .type {
			color: #07a8f2;
			}
			
		.widget-challenges .slide-item.design > .icon {
			background-color: rgba(35,157,218,1);
			}
			
		.widget-challenges .slide-item.design > .icon:before {
			background-position: 0 -70px;
			margin: -11.5px 0 0 -12px;
			height: 23px;
			width: 24px;
			}
			
	/* Application */
	.widget-challenges .slide-item.application:before {
		background-color: rgba(3,187,63,1);
		}
		
		.widget-challenges .slide-item.application > .type {
			color: #03bb3f;
			}
			
		.widget-challenges .slide-item.application > .icon {
			background-color: rgba(3,187,63,1);
			}
			
		.widget-challenges .slide-item.application > .icon:before {
			background-position: -30px -70px;
			margin: -13px 0 0 -12.5px;
			height: 26px;
			width: 25px;
			}
			
	/* Algorithms */
	.widget-challenges .slide-item.algorithms:before {
		background-color: rgba(254,144,3,1);
		}
		
		.widget-challenges .slide-item.algorithms > .type {
			color: #fe9003;
			}
			
		.widget-challenges .slide-item.algorithms > .icon {
			background-color: rgba(254,144,3,1);
			}
			
		.widget-challenges .slide-item.algorithms > .icon:before {
			background-position: -60px -70px;
			margin: -11.5px 0 0 -11.5px;
			height: 23px;
			width: 23px;
			}
			
/* Quote */
.widget-quote {
	background-image: url(../i/mobile/bg-quote.jpg);
	background-size: cover;
	text-align: center;
	}
	
	.widget-quote .slider {
		padding-bottom: 19px;
		}
	
	.widget-quote p {
		color: #fff;
		font-family: "proxima-nova",sans-serif;
		font-size: 15px;
		padding: 34px 0 3px 0;
		}
		
	.widget-quote p > span.quote {
		display: block;
		font-style: italic;
		font-size: 21px;
		line-height: 21px;
		padding: 0 46px 15px 46px;
		}
		
	.widget-quote .btn {
		margin-bottom: 24px;
		margin-top: 40px;
		}
	
/* Information */
.widget-information {
	background-color: rgba(255,255,255,1);
	padding: 25px 0 0 0;
	text-align: center;
	}
		
	.widget-information .block:after {
		background-color: rgba(140,145,146,1);
		content: '';
		display: block;
		margin: 36px 16px 0 16px;
		height: 1px;
		}
		
	.widget-information .block:last-child:after {
		background-color: transparent;
		box-shadow: none;
		margin-top: 27px;
		}
	
	.widget-information h2 {
		color: #656565;
		font-size: 21px;
		padding: 23px 0 0 0;
		}
		
	.widget-information p {
		color: #656565;
		font-family: "proxima-nova",sans-serif;
		font-size: 16px;
		line-height: 15px;
		padding: 3px 24px 21px 24px;
		}
		
/* Footer */
footer {
	background-color: rgba(33,33,33,1);
	padding: 15px 12px;
	position: relative;
	}
	
	footer .logo {
		background-image: url(../i/mobile/logo-footer.png);
		background-size: 140px 25px;
		float: left;
		height: 25px;
		width: 140px;
		margin-top:10px;
		}
		
	/* Social Links */
	footer .social {
		padding: 2px 0 1px 0;
		float: right;
		}
		
		footer .social li {
			float: left;
			margin-left: 6px;
			}
        footer .social li.terms a {
            color: rgba(255, 255, 255, 0.9);
            line-height: 32px;
            width: auto;
        }
            footer .social li.terms a:hover {
                color: rgba(255, 255, 255, 1);
                line-height: 32px;
                width: auto;
            }
		footer .social li > a { 
			display: block;
			height: 32px;
			width: 32px;
			position: relative;
			margin-top:5px; 
			}
			
		footer .social li > a.icon:before {
			display:none!important;
			}
			 
		/* Icon */
		footer .social li > a.icon-twitter {
			background: url(../i/icon-twitter.png) no-repeat left top!important;  
			}
			
		footer .social li > a.icon-facebook {
			background: url(../i/ico-fb.png) no-repeat left top!important;  
			}
			
		footer .social li > a.icon-linkin {
			background: url(../i/ico-linkedin.png) no-repeat left top!important;  
			}
			
		footer .social li > a.icon-google {
			background: url(../i/ico-gplus.png) no-repeat left top!important;  
			}
		
		footer .social li > a.icon-snap {
			background: url(../i/ico-insta.png) no-repeat left top!important;  
			}
			 
	
/* Slider */
.slick-slider {
    display: block;
	position: relative;
	}

.slick-list {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	}
	 
.slick-list:focus {
	outline: none;
	}
	
.slick-list.dragging {
    cursor: pointer;
	}

	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
		}
	
	.slick-track {
		display: block;
		outline: none;
		position: relative;
		top: 0;
		left: 0; 
		}
		
	.slick-track:before,
	.slick-track:after {
		display: table;
		content: '';
		}
		
	.slick-track:after {
		clear: both;
		}
		
	.slick-loading .slick-track {
		visibility: hidden;
		}
	
	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
		outline: none;
		}
		
	[dir='rtl'] .slick-slide {
		float: right;
		}
		
	.slick-slide img {
		display: block;
		}
		
	.slick-slide.slick-loading img {
		display: none;
		}
		
	.slick-initialized .slick-slide {
		display: block;
		}
		
	.slick-loading .slick-slide {
		visibility: hidden;
		}
		
	.slick-vertical .slick-slide {
		border: 1px solid transparent;
		display: block;
		height: auto;		
		}
		
	.slick-arrow.slick-hidden {
		display: none;
		}
		
/* Dot On Slider */
.slick-dots > li {
	display: inline-block;
	margin: 0 1px 0 2px;
	}
	
	.slick-dots > li button,
	.slick-dots > li button:focus {
		background-color: transparent;
		border: #fff solid 1px;
		border-radius: 50%;
		display: block;
		height: 8px;
		padding: 0;
		text-indent: -9999px;
		width: 8px;
		}
		
	.slick-dots > li button:focus {
		outline: none;
		}
		
	/* Active */
	.slick-dots > li.slick-active button {
		background-color: rgba(255,255,255,1);
		}
		
	/* Dot On Slider for Challenges Widget */
	.widget-challenges .slick-dots > li button {
		border-color: #cdcdcd;
		}
		
	.widget-challenges .slick-dots > li.slick-active button {
		background-color: rgba(205,205,205,1);
		}
		
/* Modal */
body.is-modal-open {
	overflow: hidden;
	}
	
.modal-drop {
	background-color: rgba(255,255,255,0);
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	}
	
.modal-drop.in {
	display: block;
	}
	
	.modal-content {
		display: none;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		}
		
	.modal-content.in {
		display: block;
		}
		
	.animate-slide-from-left {
		display: block;
		transition-property: left;
		transition-duration: .3s;
		transition-delay: 0s;
		transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
		left: -100%;
		}
		
	.animate-slide-from-left .banner {
		transition-property: left;
		transition-duration: .3s;
		transition-delay: 0s;
		transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
		left: -100%;
		}
	
	.animate-slide-from-left.in {
		transition-delay: 0s;
		left: 0;
		}
		
	.animate-slide-from-left.in .banner {
		transition-delay: .1s;
		left: 0;
		}
		
	.animate-slide-from-right {
		display: block;
		transition-property: right;
		transition-duration: .3s;
		transition-delay: .0s;
		transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
		left: auto;
		right: -100%;
		}
		
	.animate-slide-from-right .banner {
		transition-property: right;
		transition-duration: .3s;
		transition-delay: 0s;
		transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
		left: auto;
		right: -100%;
		}
		
	.animate-slide-from-right.in {
		transition-delay: 0s;
		right: 0;
		}
		
	.animate-slide-from-right.in .banner {
		transition-delay: .1s;
		right: 0;
		}
		
	.animate-slide-from-bottom {
		display: block;
		transition-property: top;
		transition-duration: .3s;
		transition-delay: .3s;
		transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
		top: -100%;
		}
		
	.animate-slide-from-bottom.in {
		top: 0;
		}
		
	.modal-dialog[data-role="modal-login"] .animate-slide-from-bottom {
		transition-delay: 0s;
		}
		
	.modal-body {
		background-color: rgba(245,245,245,1);
		height: 100%;
		position: relative;
		width: 100%;
		}
		
	/* Remove Icon */
	.modal-dialog .icon-close {
		height: 17px;
		position: absolute;
		top: 22px;
		right: 16px;
		width: 12.5px;
		z-index: 10;
		}
		
	.modal-dialog .icon-close:before {
		background-size: 150px 65px;
		background-position: -115px 0;
		height: 17px;
		width: 12.5px;
		}
		
	.modal-dialog .icon-close:hover:before {
		opacity: .8;
		}
		
/* Modal for LOG IN */
.modal-dialog .modal-content[data-rel="modal-login"] .block {
	background-image: url(../i/mobile/bg-modal-project.jpg);
	background-size: cover;
	height: 50%;
	position: relative;
	}
	
.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child {
	background-image: url(../i/mobile/bg-modal-challenge.jpg);
	}
	
	.modal-dialog .modal-content[data-rel="modal-login"] .article {
		position: absolute;
		bottom: 24px;
		width: 100%;
		}
	
	.modal-dialog .modal-content[data-rel="modal-login"] h2 {
		color: #fff;
		font-family: "proxima-nova",sans-serif;
		font-size: 32px;
		line-height: 36px;
		padding: 18px 0 10px 32px;
		width: 95%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child h2 {
		padding-top: 20px;
		padding-bottom: 20px;
		width: 90%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] p {
		color: #fff;
		font-size: 15px;
		line-height: 18px;
		padding: 0 11px 0 32px;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child p {
		padding-right: 57px;
		}
	
	/* Button Group */	
	.modal-dialog .modal-content[data-rel="modal-login"] .btn-group {
		padding-top: 18px;
		text-align: center;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] .btn {
		text-transform: uppercase;
		}
		
/* Modal for DELIVER */
.modal-dialog .modal-content[data-rel="modal-register"] .content {
	height: 100%;
	}

.modal-dialog .modal-content[data-rel="modal-register"] .banner {
	background-image: url(../i/mobile/bg-modal-talent-is-ready.jpg);
	background-position: right bottom;
	background-size: cover;
	height: 40%;
	position: absolute;
	width: 100%;
	}

.modal-dialog .modal-content[data-rel="modal-register"] .banner h2{ 
	color: white;
	font-family: "proxima-nova",sans-serif;
	padding: 0 20px;
	font-size: 42px;
	line-height:40px;
	margin: 60px 0 10px 0;
}

.modal-dialog .modal-content[data-rel="modal-register"] .banner p{ 
	color: white;
	font-family: "proxima-nova",sans-serif;
	padding: 0 20px;
	font-size: 20px;
	line-height:22px;  
}
	
.modal-dialog .modal-content[data-rel="modal-register"] .banner.banner-compete {
	background-image: url(../i/mobile/bg-modal-ready-to-compete.jpg);
	background-position: left top;
	}
	
	.modal-dialog .modal-content[data-rel="modal-register"] .block {
		height: 100%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .article {
		height: 40%;
		}
	
	.modal-dialog .modal-content[data-rel="modal-register"] .article h2 {
		color: #fff;
		font-family: "proxima-nova",sans-serif;
		font-size: 21px;
		padding: 28px 0 28px 27px;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .article p {
		color: #fff;
		font-size: 16px;
		line-height: 26px;
		padding: 0 40px 0 28px;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] ul {
		padding: 23px 0 25px 0;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] li {
		padding: 1px 0;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] li .icon {
		color: #4b4b4b;
		display: block;
		font-size: 16px;
		line-height: 18px;
		margin-left: 23px;
		padding: 3px 20px 13px 37px;
		overflow: hidden;
		position: relative; 
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] li .icon:before {
		position: absolute;
		top: 50%;
		}
		
	/* Icon */
	.modal-dialog .modal-deliver[data-rel="modal-register"] li .icon-avatar{
		background: url(../i/talent-1.png) top left no-repeat;
		background-size: 22px 26px;  
		}
		
	.modal-dialog .modal-deliver[data-rel="modal-register"] li .icon-mobile {
		background: url(../i/talent-2.png) top left no-repeat;
		background-size: 21px 24px; 
		}
		
	.modal-dialog .modal-deliver[data-rel="modal-register"] li .icon-flag {
		background: url(../i/talent-3.png) top left no-repeat;
		background-size: 24px 26px;  
		}
	
	/* Icon */
	.modal-dialog .modal-compete[data-rel="modal-register"] li .icon-avatar{
		background: url(../i/compete-1.png) top left no-repeat;
		background-size: 24px 26px; 
		}
		
	.modal-dialog .modal-compete[data-rel="modal-register"] li .icon-mobile {
		background: url(../i/compete-2.png) top left no-repeat;
		background-size: 21px 24px; 
		}
		
	.modal-dialog .modal-compete[data-rel="modal-register"] li .icon-flag {
		background: url(../i/compete-3.png) top left no-repeat;
		background-size: 24px 26px;  
		}
		
	/* Button Group */
	.modal-dialog .modal-content[data-rel="modal-register"] .button-group {
		padding-bottom: 26px;
		text-align: center;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .ways {
		color: #282828;
		font-size: 12.5px;
		text-align: center;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .ways a {
		color: #07a8f2;
		font-family: "proxima-nova",sans-serif;
		margin-left: 6px;
		text-decoration: underline;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .ways a:hover {
		text-decoration: none;
		}
		
.dots-pagination,
.icon-scroll {
	display: none;
	}

@media (min-width: 320px) {
	.btn-default { 
		margin-bottom: 10px!important; 
	}
	
	.modal-dialog .modal-content[data-rel="modal-register"] .banner h2{
	display:block;
	}
	.modal-dialog .modal-content[data-rel="modal-register"] .banner p{
	display:block;
	}
}

@media (min-width: 375px) {
	
	.widget-challenges .slick-slider {
		padding: 0 56px;
		}
	
	.widget-challenges .slick-slide {
		margin: 0 8px 16px 8px;
		}
	
	/* Modal for LOG IN */
	.modal-dialog .modal-content[data-rel="modal-login"] .article {
		bottom: 38px;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child .article {
		bottom: 32px;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] p {
		padding-right: 66px;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child p {
		padding-right: 57px;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] .btn-group {
		padding-top: 37px;
		}
	
	/* Modal for DELIVER */	
	.modal-dialog .modal-content[data-rel="modal-register"] .banner {
		height: 50%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .article {
		height: 50%;
		padding-top: 113px;
		}
	
	.btn-default { 
		margin: 10px 9px!important; 
		}
}
		
@media (min-width: 480px) {
	
	/* Close Icon */
	.modal-dialog .icon-close {
		top: 12px;
		right: 10px;
		}
		
	.modal-dialog .modal-deliver .icon-close:before {
		background-position: -45px -45px;
		}
	
	/* Modal for LOG IN */
	.modal-dialog .modal-content[data-rel="modal-login"] .block {
		background-position: right top;
		float: left;
		height: 100%;
		text-align: center;
		width: 50%;
		}
		
		.modal-dialog .modal-content[data-rel="modal-login"] .block h2,
		.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child h2 {
			padding-left: 0;
			margin: 0 auto;
			}
			
		.modal-dialog .modal-content[data-rel="modal-login"] p,
		.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child p {
			min-height: 90px;
			padding: 0 12px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-login"] .article,
		.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child .article {
			bottom: 32px;
			}
			
	/* Modal for DELIVER */
	.modal-dialog .modal-content[data-rel="modal-register"] .banner {
		background-image: url(../i/mobile/landscape-bg-modal-talent-is-ready.jpg);
		height: 100%;
		width: 50%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .banner.banner-compete {
		background-image: url(../i/mobile/landscape-bg-modal-ready-to-compete.jpg);
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .block {
		padding-left: 50%;
		}
		
	.modal-dialog .modal-compete[data-rel="modal-register"] .block {
		padding-left: 10px;
		padding-right: 50%;
		}
		
		.modal-dialog .modal-content[data-rel="modal-register"] .article {
			height: auto;
			padding-top: 0;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .article h2 {
			color: #69adf2;
			padding: 16px 0 0 8px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .article p {
			color: #4b4b4b;
			min-height: 78px;
			padding: 0 6px 0 8px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] ul {
			padding: 6px 0 0 0;
			}
			 
			
		.modal-dialog .modal-content[data-rel="modal-register"] .button-group {
			padding: 8px;
			text-align: left;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .ways {
			padding-left: 8px;
			text-align: left;
			}
		
		
	
}

@media (min-width: 667px) {
	.modal-dialog .modal-content[data-rel="modal-register"] .article h2 {
		padding-top: 36px;
		}
}

@media (min-width: 768px) {
	.modal-dialog .modal-content[data-rel="modal-register"] .banner h2{
	display:block;
	}
	.modal-dialog .modal-content[data-rel="modal-register"] .banner p{
	display:block;
	}
	
	body {
		overflow: hidden;
		}
		
	footer {
		z-index: 10;
		}
		
	/* Button */
	.btn-default {
		font-size: 15.93px;
		height: 50px;
		line-height: 48px;
		margin: 0 9px;
		padding: 0 22px;
		}
		
	.btn-primary {
		font-size: 15.93px;
		height: 35px;
		line-height: 35px;
		padding: 0 15px;
		}
	
	.icon:before {
		background-image: url(../i/tablet/icons.png);
		background-size: 300px 170px;
		content: '';
		display: block;
		}
		
	/* Header */
	header {
		min-height: 52px;
		background-color: rgba(255,255,255,1);
		border-bottom: #dbdadb solid 1px;
		padding: 15px 22px;
		position: fixed;
		width: 100%;
		z-index: 10;
		}
		
		header .logo {
			background-image: url(../i/tablet/logo.png);
			background-size: 217px 36px;
			height: 36px;
			margin: 7px 0;
			width: 217px;
			}
	
	/* Main Container */	
	.main-container {
		height: 100%;
		overflow: hidden;
		}
		
		/* Table Layout */
		.container {
			height: 100%;
			display: table;
			width: 100%;
			}
			
			.container .container-row {
				display: table-row;
				}
				
			.container .container-row.row-footer {
				height: 74px;
				}
			
			.container .valign-middle {
				display: table-cell;
				vertical-align: middle;
				}
				
		/* Deliver Crowdsoucring Widget */
		.widget-deliver-crowdsourcing {
			background-image: url(../i/tablet/bg-deliver-crowdsourcing.jpg);
			}
		
			.widget-deliver-crowdsourcing h2 {
				font-size: 39.98px;
				line-height: 55.77px; 
				width: 580px;
				}
				
			.widget-deliver-crowdsourcing p {
				font-size: 20.99px;
				line-height: 32px;
				padding: 25px 0 66px 0;
				width: 520px;
				}
				
			.widget-deliver-crowdsourcing .btn-group {
				padding: 0 0 24px 25px;
				text-align: left;
				}
				
		/* Crodwsourcing Exceptional Widget */			
			.widget-crodwsourcing-exceptional h2 {
				font-size: 40px;
				padding-bottom: 8px;
				}
			
			.widget-crodwsourcing-exceptional li {
				padding-bottom: 12px;
				}
			
			.widget-crodwsourcing-exceptional h3 {
				font-size: 20px;
				padding-bottom: 12px;
				}
				
			.widget-crodwsourcing-exceptional p {
				font-size: 18px;
				line-height: 22px;
				margin: 0 40px;
				padding-bottom: 16px;
				}
				
			.widget-crodwsourcing-exceptional li h3.icon:before {
				height: 89px;
				margin-bottom: 12px;
				width: 86px;
				}
				
			.widget-crodwsourcing-exceptional .design h3.icon:before {
				height: 87px;
				width: 90px;
				}
				
			/* Application Development */				
			.widget-crodwsourcing-exceptional .aplication h3.icon:before {
				background-position: -100px 0;
				
				}
				
			/* Algorithms & Analytics */				
			.widget-crodwsourcing-exceptional .algorithms h3.icon:before {
				background-position: -200px 0;
				}
				
		/* Meet our community Widget */
		.widget-meet-community {
			background-image: url(../i/tablet/bg-meet-community.jpg);
			}
			
			.widget-meet-community h2 {
				font-size: 40px;
				padding-bottom: 50px;
				}
				
			.widget-meet-community p {
				font-size: 21px;
				line-height: 38.45px;
				margin: 0 auto;
				width: 708px;
				}
				
			.widget-meet-community ul {
				margin: 0 46.5px;
				padding-top: 56px;
				}
				
			.widget-meet-community li {
				font-size: 14px;
				line-height: 16px;
				padding: 32px 24px 0 24px;
				min-height: 180px;
				}
				
			.widget-meet-community li > strong {
				font-size: 83.13px;
				line-height: 1em;
				}
				
			.widget-meet-community li span {
				display: inline-block;
				}
				
		/* Challenges */		
		.widget-challenges h2 {
			font-size: 40.01px;
			padding-bottom: 20px;
			}
			
		.widget-challenges .valign-middle > p {
			font-family: "proxima-nova",sans-serif;
			font-size: 21.01px;
			}
			
		.widget-challenges .valign-middle > p.view-all {
			color: #282828;
			font-family: "proxima-nova",sans-serif;
			display: block;
			margin-top: 24px;
			font-size: 16px;
			width: 100%;
			}
			
		.widget-challenges .valign-middle > p.view-all > a {
			color: #07a8f2;
			font-family: "proxima-nova",sans-serif;
			text-decoration: underline;
			}
			
		.widget-challenges .valign-middle > p.view-all > a:hover {
			text-decoration: none;
			}
					
			/* Slider */				
			.widget-challenges .slider {
				height: 362px;
				overflow: hidden;
				}
				
			.widget-challenges .slide-item {
				display: inline-block;
				margin: 0 6px 16px 6px;
				width: 216px;
				}
				
			.widget-challenges .slide-item > .type {
				font-size: 12px;
				top: 16px;
				}
			
			/* Icon */	
			.widget-challenges .slide-item > .icon {
				height: 47px;
				margin: 18px 14px 15px 14px;
				width: 47px; 
				}
				
			.widget-challenges .slide-item > .icon:before {
				height: 22px;
				margin: -11px 0 0 -11px;
				width: 22px;
				}
			
			.widget-challenges .slide-item.design > .icon:before {
				background-position: 0 -100px;
				margin-left: -11.5px;
				width: 23px;
				}
				
			.widget-challenges .slide-item.application > .icon:before {
				background-position: -30px -100px;
				}
				
			.widget-challenges .slide-item.algorithms > .icon:before {
				background-position: -60px -100px;
				width: 22px;
				}
				
			.widget-challenges .slide-item > h3 {
				font-size: 20.1px;
				line-height: 26px;
				padding: 0 10px;
				min-height: 78px;
				}
				
			.widget-challenges .slide-item .meta {
				padding: 8px 14px 0 14px;
				}
				
			.widget-challenges .slide-item .meta ul {
				height: auto;
				line-height: 22px;
				}
				
			.widget-challenges .slide-item .meta li {
				font-size: 12px;
				}
				
			.widget-challenges .slide-item .meta li > span {
				margin-left: 10px;
				padding-left: 16px;
				}
				
			.widget-challenges .slide-item .meta .date {
				font-size: 12px;
				line-height: 22px;
				}
			
			/* Icon */	
			.widget-challenges .slide-item .meta li > span:before {
				background-size: 600px 340px;
				height: 15px;
				margin-top: -8px;
				width: 13px;
				}
			
			.widget-challenges .slide-item .meta li > span.icon-register:before {
				background-position: -180px -200px;
				}
				
			.widget-challenges .slide-item .meta li > span.icon-comments:before {
				background-position: -200px -200px;
				}
				
			.widget-challenges .slide-item .tech {
				font-size: 12px;
				padding: 0 14px;
				}
				
			.widget-challenges .slide-item .infor .prize {
				font-size: 22.97px;
				line-height: 22px;
				}
			
			/* Infor */	
			.widget-challenges .slide-item .infor {
				padding: 25px 10px 34px 12px;
				}
				
			.widget-challenges .slide-item .infor li a {
				margin: 0 0 0 6px;
				}
				
			.widget-challenges .slide-item .infor li a > img {
				height: 22px;
				width: 22px;
				}
				
			.widget-challenges .slide-item .infor li a > .badge {
				bottom: -2px;
				right: -2px;
				}
			
			/* Button Group */	
			.widget-challenges .slide-item .btn-group {
				padding: 3px 0 16px 0;
				}
					
		/* Quote */
		.widget-quote {
			background-image: url(../i/tablet/bg-quote.jpg);
			}
			
			.widget-quote p {
				font-size: 22.09px;
				padding-bottom: 63px;
				}
			
			.widget-quote p > span.quote {
				font-size: 40.02px;
				line-height: 55.64px;
				padding: 0 12px 27px 12px;
				}
				
			.widget-quote .slider {
				margin: 0 auto;
				width: 768px;
				}
				
			/* Button Group */				
			.widget-quote .btn {
				margin-bottom: 50px;
				}
				
		/* Information */		
		.widget-information .block:after {
			background-color: rgba(140,145,146,1);
			box-shadow: none;
			content: '';
			display: block;
			margin: 0 auto 27px auto;
			height: 1px;
			width: 294px;
			}
			
		.widget-information .block:last-child:after {
			background-color: transparent;
			}
		
			.widget-information h2 {
				font-size: 39.99px;
				padding-top: 66px;
				}
				
			.widget-information p {
				font-size: 20.99px;
				line-height: 19.49px;
				padding-top: 15px;
				padding-bottom: 29px;
				}
				
			.widget-information .btn {
				margin-bottom: 108px;
				}
				
	/* Icon */
	footer .social li > a.icon-twitter:before {
		background-position: -120px -100px;
		}
		
	footer .social li > a.icon-facebook:before {
		background-position: -140px -100px;
		}
		
	footer .social li > a.icon-linkin:before {
		background-position: -160px -100px;
		}
		
	footer .social li > a.icon-google:before {
		background-position: -180px -100px;
		}
		
	footer .social li > a.icon-snap:before {
		background-position: -200px -100px;
		}
	
	/* Gallery */
	.widget {
		background-attachment: fixed;
		height: 0%;
		overflow: hidden;
		padding: 81px 0 0 0;
		position: absolute;
		-moz-transition: height 0.9s cubic-bezier(0.63, 0.64, 0.3, 1);
		-o-transition: height 0.9s cubic-bezier(0.63, 0.64, 0.3, 1);
		-webkit-transition: height 0.9s cubic-bezier(0.63, 0.64, 0.3, 1);
		transition: height 0.9s cubic-bezier(0.63, 0.64, 0.3, 1);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		width: 100%;
		}
		
	.widget.active {
		height: 100%;
		}
		
	/* Dot On Slider */
	.slick-dots > li {
		margin: 0 4px;
		}
		
		.slick-dots > li button,
		.slick-dots > li button:focus {
			background-color: rgba(174,174,174,1);
			border-color: #aeaeae;
			height: 10px;
			width: 10px;
			}
			
		/* Active */
		.slick-dots > li.slick-active button {
			background-color: rgba(0,0,0,1);
			}
			
		/* Dot On Slider for Challenges Widget */
		.widget-challenges .slick-dots > li button {
			background-color: rgba(174,174,174,1);
			border-color: #aeaeae;
			}
			
		.widget-challenges .slick-dots > li.slick-active button {
			background-color: rgba(255,255,255,1);
			}
			
	footer {
		padding: 15px 22px;
		}
			
		footer .logo {
			background-image: url(../i/tablet/logo-footer.png);
			background-size: 212px 36px;
			height: 36px;
			margin: 4px 0;
			width: 212px;
			}
			
		/* Social Links */
		footer .social {
			padding: 0;
			}
			
			footer .social li {
				margin-left: 12px;
				}
				
			footer .social li > a { 
				}
				
			footer .social li > a.icon:before {
				background-size: 600px 340px;
				}
				
			/* Icon */
			footer .social li > a.icon-twitter:before {
				background-position: -240px -200px;
				height: 20px;
				margin: -10px 0 0 -12px;
				width: 24px;
				}
				
			footer .social li > a.icon-facebook:before {
				background-position: -280px -200px;
				height: 26px;
				margin: -13px 0 0 -7px;
				width: 14px;
				}
				
			footer .social li > a.icon-linkin:before {
				background-position: -320px -200px;
				height: 22px;
				margin: -11px 0 0 -11px;
				width: 22px;
				}
				
			footer .social li > a.icon-google:before {
				background-position: -360px -200px;
				height: 18px;
				margin: -9px 0 0 -14px;
				width: 28px;
				}
				
			footer .social li > a.icon-snap:before {
				background-position: -400px -200px;
				height: 20px;
				margin: -10px 0 0 -10px;
				width: 22px;
				}
		
	/* Dots */
	.dots-pagination {
		display: block;
		margin-top: -31px;
		position: fixed;
		top: 50%;
		right: 27px;
		z-index: 10;
		}
		
		.dots-pagination li {
			margin: 2px 0;
			}
		
		.dots-pagination li > a {
			background-color: transparent;
			border: #fff solid 1px;
			border-radius: 50%;
			cursor: pointer;
			display: block;
			height: 9px;
			text-indent: -9999px;
			width: 9px;
			}
			
		.dots-pagination li.active > a {
			background-color: rgba(255,255,255,1);
			}
			
		/* Grey Dots */
		.dots-pagination[data-index="1"] li > a,
		.dots-pagination[data-index="3"] li > a,
		.dots-pagination[data-index="5"] li > a {
			border-color: #dbdadb;
			}
			
		.dots-pagination[data-index="1"] li.active > a,
		.dots-pagination[data-index="3"] li.active > a,
		.dots-pagination[data-index="5"] li.active > a {
			background-color: rgba(219,218,219,1);
			}
		
		/* Close Button */
		.modal-dialog .icon-close {
			top: 18px;
			right: 22px;
			}
			
		.modal-dialog .modal-deliver .icon-close,
		.modal-dialog .modal-compete .icon-close {
			top: 18px;
			right: 22px;
			}
			
		.modal-dialog .icon-close:before,
		.modal-dialog .modal-deliver .icon-close:before {
			background-position: -110px -50px;
			background-size: 150px 85px;
			}
		
	/* Modal for LOG IN */
	.modal-dialog .modal-content[data-rel="modal-login"] .block {
		background-image: url(../i/tablet/bg-modal-project.jpg);
		display: table;
		height: 50%;
		width: 100%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child {
		background-image: url(../i/tablet/bg-modal-challenge.jpg);
		}
		
		.modal-dialog .modal-content[data-rel="modal-login"] .article, 
		.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child .article {
			position:static;
			display: table-cell;
			padding-bottom: 36px;
			vertical-align: middle;
			}
		
		.modal-dialog .modal-content[data-rel="modal-login"] h2 {
			font-family: "proxima-nova",sans-serif;
			font-size: 44px;
			line-height: 53px;
			padding-bottom: 56px;
			width: 420px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child h2 {
			padding-bottom: 55px;
			width: 340px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-login"] p {
			font-size: 20px;
			line-height: 31px;
			margin: 0 auto;
			min-height: 124px;
			width: 384px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child p {
			width: 334px;
			} 
		
		/* Button Group */	
		.modal-dialog .modal-content[data-rel="modal-login"] .btn-group {
			padding-top: 40px;
			}
			
	/* Modal for DELIVER */
	.modal-dialog .modal-content[data-rel="modal-register"] {
		padding-top: 81px;
		}
	
	.modal-dialog .modal-content[data-rel="modal-register"] .banner {
		background-image: url(../i/tablet/bg-modal-talent-is-ready.jpg);
		height: 460px;
		width: 100%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .banner.banner-compete {
		background-image: url(../i/tablet/bg-modal-ready-to-compete.jpg);
		}
		
		.modal-dialog .modal-content[data-rel="modal-register"] .block {
			padding-left: 0;
			padding-right: 0;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .article {
			height: 460px;
			}
		
		.modal-dialog .modal-content[data-rel="modal-register"] .article h2 {
			color: #fff;
			font-family: "proxima-nova",sans-serif;
			font-size: 39.99px;
			padding: 113px 0 31px 24px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .article p {
			color: #fff;
			font-family: "proxima-nova",sans-serif;
			font-size: 21px;
			line-height: 26px;
			padding: 0 0 0 24px;
			width: 400px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] ul {
			padding: 57px 0 27px 0;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] li {
			margin-left: 21px;
			padding: 6px 0;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] li .icon {
			font-size: 18px;
			}
			 
			
		/* Button Group */
		.modal-dialog .modal-content[data-rel="modal-register"] .button-group {
			padding-left: 29px;
			padding-bottom: 20px;
			text-align: left;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .ways {
			font-size: 16px;
			padding-left: 30px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .ways a {
			margin-left: 6px;
			}
	
}

@media (min-width: 1024px) {
	.modal-dialog .modal-content[data-rel="modal-register"] .banner h2{
	display:none;
	}
	.modal-dialog .modal-content[data-rel="modal-register"] .banner p{
	display:none;
	}
	/* Deliver Crowdsoucring Widget */
	.widget-deliver-crowdsourcing {
		background-image: url(../i/tablet/landscape-bg-deliver-crowdsourcing.jpg);
		}
		
		.widget-deliver-crowdsourcing h2 {
			margin-left: 60px;
			}
			
		.widget-deliver-crowdsourcing p {
			margin-left: 60px;
			}
			
		.widget-deliver-crowdsourcing .btn-group {
			padding-left: 52px;
			}
			
		/* Crodwsourcing Exceptional Widget */	
		.widget-crodwsourcing-exceptional h2 {
			padding-bottom: 24px;
			}
		
		.widget-crodwsourcing-exceptional ul {
			padding: 0 24px;
			}
	
		.widget-crodwsourcing-exceptional li {
			float: left;
			width: 33.333333%;
			}
			
		/* Icon */
		.widget-crodwsourcing-exceptional li h3.icon:before {
			margin: 2px auto 27px auto;
			}
		
		.widget-crodwsourcing-exceptional .design h3.icon:before {
			margin: 3px auto 28px auto;
			}
			
		.widget-crodwsourcing-exceptional h3 {
			font-size: 21px;
			padding-bottom: 18px;
			}
			
		.widget-crodwsourcing-exceptional p {
			margin: 0;
			padding: 0 12px 36px 12px;
			}
			
	/* Meet our community */
	.widget-meet-community {
		background-image: url(../i/tablet/landscape-bg-meet-community.jpg);
		}
		
		.widget-meet-community ul {
			margin: 0 auto;
			width: 768px;
			}
			
	/* Quote */
	.widget-quote {
		background-image: url(../i/mobile/bg-quote.jpg);
		}

		.widget-quote .slick-slider {
			width: 1024px;
			}
			
		/* Information */	
		.widget-information .block {
			float: left;
			position: relative;
			width: 50%;
			}
			
		.widget-information .block:after {
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			}
			
		.widget-information p {
			padding: 15px 48px 29px 48px;
			min-height: 82px;
			}
			
	/* Modal */
	.modal-dialog .icon-close {
		top: 25px;
		right: 27px;
		}
		
	.modal-dialog .modal-deliver .icon-close:before {
		background-position: -130px -50px;
		}
	
	/* Modal for Login */
	.modal-dialog .modal-content[data-rel="modal-login"] .block {
		background-image: url(../i/tablet/landscape-bg-modal-project.jpg);
		height: 100%;
		width: 50%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child {
		background-image: url(../i/tablet/landscape-bg-modal-challenge.jpg);
		}
		
		.modal-dialog .modal-content[data-rel="modal-login"] .article, 
		.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child .article {
			bottom: 209px;
			}
		
		.modal-dialog .modal-content[data-rel="modal-login"] h2 {
			width: 400px;
			}
			
	/* Modal for DELIVER */
	.modal-dialog .modal-content[data-rel="modal-register"] .banner {
		background-image: url(../i/tablet/landscape-bg-modal-talent-is-ready.jpg);
		height: 100%;
		width: 53.8%;
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .banner.banner-compete {
		background-image: url(../i/tablet/landscape-bg-modal-ready-to-compete.jpg);
		width: 57%;
		}
			
	.modal-dialog .modal-content[data-rel="modal-register"] .block {
		padding-left: 53.8%;
		}
		
	.modal-dialog .modal-compete[data-rel="modal-register"] .block {
		padding-left: 30px;
		padding-right: 57%;
		}
		
		.modal-dialog .modal-content[data-rel="modal-register"] .article {
			height: auto;
			}
		
		.modal-dialog .modal-content[data-rel="modal-register"] .article h2 {
			color: #69adf2;
			font-size: 40px;
			padding-top: 115px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .article p {
			color: #4b4b4b;
			font-size: 21px;
			padding-left: 28px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] li {
			margin-left: 18px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] ul {
			padding-top: 23px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .button-group {
			padding-left: 25px;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .ways {
			padding-left: 26px;
			}
		
		.widget-crodwsourcing-exceptional p { 
			min-height: 170px;
	}
	
}

@media (min-width: 1200px) {
	
	/* Button Group */
	.modal-dialog .modal-content[data-rel="modal-register"] .button-group,
	.modal-dialog .modal-content[data-rel="modal-register"] .ways {
		padding-left: 48px; 
		}
		
	.modal-dialog .modal-content[data-rel="modal-register"] .banner h2{
	display:none;
	}
	.modal-dialog .modal-content[data-rel="modal-register"] .banner p{
	display:none;
	}
	
	.widget-crodwsourcing-exceptional p { 
			min-height: 170px;
	}
	
	/* Button */
	.btn-default {
		border-width: 1px;
		font-size: 16px;
		height: 50px;
		line-height: 48px;
		margin: 0 9px;
		padding: 0 34px;
		}
		
	.btn-primary {
		font-size: 16px;
		height: 35px;
		line-height: 35px;
		padding: 0 15px;
		}
	
	.icon:before {
		background-image: url(../i/desktop/icons.png);
		background-size: 400px 160px;
		}
		
		/* Header */		
		header .logo {
			background-image: url(../i/desktop/logo.png);
			}
		
		/* Deliver Crowdsoucring Widget */
		.widget-deliver-crowdsourcing {
			background-image: url(../i/desktop/bg-deliver-crowdsourcing.jpg);
			}
				
			/* Crodwsourcing Exceptional Widget */	
			.widget-crodwsourcing-exceptional ul {
				margin: 0 auto;
				padding: 0 16px;
				width: 1100px;
				}
				
			.widget-crodwsourcing-exceptional li h3.icon:before {
				height: 89px;
				margin-top: 0;
				margin-bottom: 24px;
				width: 86px;
				}
				
			.widget-crodwsourcing-exceptional .design h3.icon:before {
				height: 86px;
				margin-bottom: 25px;
				width: 89px;
				}
				
			.widget-crodwsourcing-exceptional .aplication h3.icon:before {
				background-position: -120px 0;
				}
				
			.widget-crodwsourcing-exceptional .algorithms h3.icon:before {
				background-position: -240px 0;
				}
			
		/* Meet our community */
		.widget-meet-community {
			background-image: url(../i/desktop/bg-meet-community.jpg);
			}
				
		/* Challenges */
		.widget-challenges {
			background-color: rgba(243,243,243,1);
			}
			
			/* Slider */
			.widget-challenges .slider {
				margin: 0 auto;
				width: 1024px;
				}
				
			.widget-challenges .slide-item > .icon {
				height: 43px;
				margin: 17px 0 14px 13px;
				width: 43px;
				}
				
				/* Icon */
				.widget-challenges .slide-item.design > .icon:before {
					background-position: 0 -107px;
					height: 21px;
					margin: -10.5px 0 0 -11px;
					width: 22px;
					}
					
				.widget-challenges .slide-item.application > .icon:before {
					background-position: -40px -107px;
					height: 21px;
					margin: -10.5px 0 0 -10px;
					width: 20px;
					}
					
				.widget-challenges .slide-item.algorithms > .icon:before {
					background-position: -80px -107px;
					height: 21px;
					margin: -10.5px 0 0 -10.5px;
					width: 21px;
					}
					
			.widget-challenges .slide-item .meta li > span:before {
				background-size: 400px 160px;
				}
					
			.widget-challenges .slide-item .meta li > span.icon-register:before {
				background-position: -120px -100px;
				}
				
			.widget-challenges .slide-item .meta li > span.icon-comments:before {
				background-position: -140px -100px;
				}
			
		/* Quote */
		.widget-quote {
			background-image: url(../i/desktop/bg-quote.jpg);
			}
				
		/* Information */
		.widget-information {
			background-color: rgba(249,249,249,1);
			}
			
		/* Footer */		
		footer .logo {
			background-image: url(../i/desktop/logo-footer.png);
			}
			
			footer .social li > a.icon:before {
				background-size: 400px 160px;
				}
				
			/* Icon */	
			footer .social li > a.icon-twitter:before {
				background-position: 0 -134px;
				}
				
			footer .social li > a.icon-facebook:before {
				background-position: -40px -134px;
				}
				
			footer .social li > a.icon-linkin:before {
				background-position: -80px -134px;
				}
				
			footer .social li > a.icon-google:before {
				background-position: -120px -134px;
				}
				
			footer .social li > a.icon-snap:before {
				background-position: -160px -134px;
				}
			
	/* Dot On Slider */
	.slick-dots > li {
		margin: 0 3px 0 3px;
		}
		
		.slick-dots > li button,
		.slick-dots > li button:focus {
			border-color: #aeaeae;
			border-width: 1px;
			height: 9px;
			width: 9px;
			}
			
		/* Active */
		.slick-dots > li.slick-active button {
			background-color: rgba(0,0,0,1);
			}
			
		/* Dot On Slider for Challenges Widget */
		.widget-challenges .slick-dots > li button {
			border-color: #aeaeae;
			}
			
		.widget-challenges .slick-dots > li.slick-active button {
			background-color: rgba(255,255,255,1);
			}
	
	/* Icon for Scroll */		
	.icon-scroll {
		color: #ffffff;
		display: block;
		height: 38px;
		font-size: 8px;
		padding-bottom: 14px;
		position: absolute;
		bottom: 0;
		transition: .2s;
		z-index: 10;
		text-align: center;
		width: 100%;
		}
		
	.icon-scroll:hover {
		text-decoration: none;
		}
		
	.icon-scroll:after {
		background-image: url(../i/desktop/icons.png);
		background-position: -120px -120px;
		content: '';
		display: block;
		margin: 4px auto;
		height: 7px;
		width: 23px;
		}
		
	.icon-scroll[data-index="1"],
	.icon-scroll[data-index="3"],
	.icon-scroll[data-index="5"] {
		color: #666;
		}	
		
	.icon-scroll[data-index="1"]:after,
	.icon-scroll[data-index="3"]:after,
	.icon-scroll[data-index="5"]:after {
		background-position: -147px -120px;
		}
		
	.icon-scroll:hover {
		padding-top: 10px;
		}
		
	/* Modal */
	.modal-drop.in[data-role="modal-login"] {
		background-color: rgba(0,0,0,.65);
		}
		
		.modal-dialog .modal-body {
			background-color: rgba(243,243,243,1);
			}
		
		/* Close Icon */
		.modal-dialog .icon-close,
		.modal-dialog .modal-deliver .icon-close,
		.modal-dialog .modal-compete .icon-close {
			top: 24px;
			right: 22px;
			}
			
		.modal-dialog .icon-close:before {
			background-size: 400px 160px;
			background-position: -190px -110px;
			}
			
		.modal-dialog .modal-deliver .icon-close:before {
			background-size: 400px 160px;
			background-position: -220px -110px;
			}
	
		.modal-dialog .modal-content.modal-login {
			background-color: transparent;
			}
		
			.modal-dialog .modal-content.modal-login .modal-body {
				background-color: transparent;
				height: auto;
				margin: 0 auto;
				width: 742px;
				}
			
			.modal-dialog .modal-content.modal-login-customer .modal-body { 
			background-color: transparent;
				height: auto;
				margin: 0 auto;
				width: 365px!important;
				}
			
			.modal-dialog .modal-content.modal-login-customer[data-rel="modal-login"] .block:last-child .article{
				background-color: rgba(255,255,255,1)!important;
				background-image: url(../i/desktop/bg-modal-project.jpg)!important;
				background-repeat: no-repeat!important;
				background-size: 357px 201px!important;
				padding-bottom: 24px!important;
				position: static!important;
				}
			
			
			.modal-dialog .modal-content.modal-login-community .modal-body {
				background-color: transparent;
				height: auto;
				margin: 0 auto;
				width: 365px!important;
				}
				
			.modal-dialog .modal-content.modal-login .icon-close {
				display: none;
				}
				
			.modal-dialog .modal-content[data-rel="modal-login"] .block {
				background-image: none;
				height: auto;
				margin: 0 7px;
				width: 357px;
				}
				
			.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child {
				background-image: none;
				}
			 
				
			.modal-dialog .modal-content[data-rel="modal-login"] .article {
				background-color: rgba(255,255,255,1);
				background-image: url(../i/desktop/bg-modal-project.jpg);
				background-repeat: no-repeat;
				background-size: 357px 201px;
				padding-bottom: 24px;
				position: static;
				}
				
			.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child .article {
				background-image: url(../i/desktop/bg-modal-challenge.jpg);
				padding-bottom: 24px;
				}
				
				.modal-dialog .modal-content[data-rel="modal-login"] .block h2, 
				.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child h2 {
					display: table-cell;
					font-family: "proxima-nova",sans-serif;
					font-size: 37px;
					line-height: 39px;
					height: 201px;
					padding: 0 16px 3px 16px;
					vertical-align: middle;
					width: auto;
					}
					
				.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child h2 {
					padding: 0 32px;
					}
					
				.modal-dialog .modal-content[data-rel="modal-login"] p,
				.modal-dialog .modal-content[data-rel="modal-login"] .block:last-child p {
					color: #4b4b4b;
					font-family: "proxima-nova",sans-serif;
					font-size: 20px;
					line-height: 24px;
					margin-top: 25px;
					min-height: 96px;
					padding: 0;
					text-align: left;
					width: 309px;
					}
					
				.modal-dialog .modal-content[data-rel="modal-login"] .btn-group {
					padding: 25px 0 9px 0;
					}
			
		/* Modal for Compete & Trale */
		.modal-dialog .modal-content[data-rel="modal-register"] .banner {
			background-image: url(../i/desktop/bg-modal-talent-is-ready.jpg);
			width: 54.51%;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .banner.banner-compete {
			background-image: url(../i/desktop/bg-modal-ready-to-compete.jpg);
			width: 53.67%;
			}
			
		.modal-dialog .modal-content[data-rel="modal-register"] .block {
			padding-left: 54.51%;
			}
			
		.modal-dialog .modal-compete[data-rel="modal-register"] .block {
			padding-left: 5px;
			padding-right: 53.67%;
			}
			
			.modal-dialog .modal-content[data-rel="modal-register"] .article h2 {
				color: #07a8f2;
				font-family: "proxima-nova",sans-serif;
				font-size: 48px;
				line-height: 67px;
				padding: 98px 0 0 48px;
				}
				
			.modal-dialog .modal-content[data-rel="modal-register"] .article p {
				color: #282828;
				font-size: 20px;
				line-height: 24px;
				padding: 0 67px 0 49px; 
				width: auto;
				}
				
			.modal-dialog .modal-content[data-rel="modal-register"] ul {
				padding: 21px 0 28px 0;
				}
				
			.modal-dialog .modal-content[data-rel="modal-register"] li {
				margin-left: 47px;
				}
				 
				 
}