/*fix layout issue when smaller than 1024px width*/
@media (max-width: 1024px) {
body {
	min-width: 768px;
}
}
/*fix layout issue when smaller than 768px width*/
@media (max-width: 768px) {
	.contact-main .center-box .mains,
	.match-world-map,
	.products-module .head-panel .txt,
	.contact-module.contact-black-module .section-contact .titles,
	.contact-module .section-contact .sub-titles,
	.form-contact,
	.powered-by-contact-module.contact-module.contact-black-module .section-contact .titles,
	.live-challenges-module .head-panel .txt,
	.tab-contents-the-products .products-module .head-panel .txt {
		width: 100%;
		margin-right: 0%;
		margin-left: 0;
	}
	.match-world-map {
		background-size: 100% auto;
	}
}