	@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;}

body{font-family: "proxima-nova",sans-serif; font-size:16px; line-height:24px; color:#656565; background:#FFF;}
h1, h2, h3, h4, h5, h6{}
p{}
ul, ol{ list-style:none;}
li{}
a{color:#069ad6;}
a:hover{}
img{border:0px; max-width:100%; height: auto;}
input, select, textarea{outline:none;}
.btn.btn_blue{background:#28a7df; color:#fff; font-size:18px; border-radius:0px; transition:all 0.3s ease;}
.btn.btn_blue:hover{background:#f0b800 !important;}
.border{border-color:#656565; margin:40px 0px;}
.post.padd_less{padding-bottom:0px !important;}
.padding_top{ padding-top:70px;}
 
/*header css starts here*/
#header{padding:15px 0px 10px; border-bottom:1px solid #e6e6e6; position:fixed; top:0px; width:100%; background-color: rgba(255, 255, 255, 0.9);
background: rgba(255, 255, 255, 0.9);
color: rgba(255, 255, 255, 0.9); z-index:999;}
#header .logo{}
#header .menu{
    text-align:center; 
    margin-top:0; 
    margin-bottom:0;
    display: table;
    width: 100%;
}
#header .menu ul li{
    border-bottom: 2px solid transparent;
    display:table-cell;
    height: 39px;
    line-height: 1;
    text-transform:uppercase;
    vertical-align: middle;
    width: auto;
    white-space: pre-wrap;
}
#header .menu ul li.current-menu-item{ border-bottom:2px solid #f0b800;}
#header .menu ul li:hover{ border-bottom:2px solid #f0b800;}
#header .menu ul li a{color:#656565; font-size:13px; font-weight:600; text-decoration:none;}

#toggle_menu{ width:39px; height:39px; line-height:39px; text-align:center; font-size: 23px; position:absolute; right:0px; top:0px;}

#header .login_section {float:right;width: 100%;}
#header .login_section .login{float:left; position:relative; padding-right: 40px;width: 100%;}
#header .login_section .login .search-form{ position:relative;}
#header .login_section .login .search-form .btn{ height:39px; width:39px; background:#fff; border-radius:0px; text-align:center; font-size: 23px; top: 0px;} 
#header .login_section .login .btn.btn_blue{background:#28a7df; color:#fff;}

.searchbox{
    position:relative;
    min-width:39px;
    width:0%;
    height:39px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height:39px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color:red;
}
.searchbox-input::-webkit-input-placeholder {
    color: #333;
}
.searchbox-input:-moz-placeholder {
    color: #333;
}
.searchbox-input::-moz-placeholder {
    color: #333;
}
.searchbox-input:-ms-input-placeholder {
    color: #333;
}

.searchbox-icon,
.searchbox-submit{
    width:39px;
    height:39px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:39px;
    text-align:center;
    cursor:pointer;
    color:#333;
    background:#172b3c;
}
.searchbox-open{
    width:100%;
}
.searchbox-icon{
    display:block !important;
}
.searchbox-open .searchbox-icon{
    display:none !important;
}

#header .login_section .toggle{float:left; overflow:hidden; padding:9px 0;}
#header .login_section .toggle .fa{color:#565658; font-size:20px; vertical-align: middle;}
#header .toggle .menu-toggle{color:#565658; font-size:20px; vertical-align: middle; background:transparent; border:none;}
#header .login_section .login .btn{color:#656565; font-size:23px; padding:0px;}
#main-menu{width:150px !important;     top: 49px !important;} 
#main-menu .primary-menu li a{color:#656565; text-decoration:none;}
#widget_sp_image-3.home_break{position:relative;    border: 1px solid #656565;  padding: 30px 0px; border-right: 0px;  border-left: 0px;  margin-bottom: 45px;}
#widget_sp_image-3.home_break .widget-title{    font-size: 80px; text-align: center; color: #fff; font-weight: 300; position:absolute; top:150px; left:0px; width: 100%;}
#widget_sp_image-3.home_break .widget_sp_image-description {width:100%; text-align: center; position:absolute; top:200px; left:0px;     margin-top: 100px}
#widget_sp_image-3.home_break .widget_sp_image-description p{    font-size: 25px; color: #fff;width: 745px; max-width: 100%; text-align: center; margin: 0px auto; font-weight: 300; padding-bottom: 20px; line-height: 35px; }
#widget_sp_image-3 .banner_button {width:100%; text-align:center;}
#widget_sp_image-3 .banner_button .btn.btn_blue{width: 220px; max-width: 100%; border-radius: 3px;  padding: 18px 0px; font-size: 18px; text-transform: uppercase;}


/*header css ends here*/


/*Main content css Starts here*/
.heading{text-align:center; }
.heading h2{font-size:72px; color:#656565; font-weight:300; margin:0; padding:90px 0 40px;}

#banner{background:url(../images/banner_1.jpg) no-repeat; width:100%; height:651px; display:inline-block; padding:150px 0px;}
#banner .banner_bg .banner_content .banner_heading h2{font-size:80px; text-align:center; color:#fff; font-weight:300;}
#banner .banner_bg .banner_content p{font-size:25px; color:#fff; width:745px; max-width:100%; text-align:center; margin:0px auto; font-weight:300; padding-bottom:20px;     line-height: 35px;}
#banner .banner_bg .banner_content .banner_button{text-align:center;}
#banner .banner_bg .banner_content .banner_button .btn.btn_blue{width:220px; max-width:100%; border-radius:3px; padding:18px 0px; font-size:18px; text-transform:uppercase;}

#blog_post{}
#blog_post .blog_content{padding-top: 20px;}
#blog_post .blog_content .article{}
#blog_post .blog_content .article .meta{font-size:18px; color:#656565; font-weight:300; margin:0px; padding: 35px 0 25px;}
#blog_post .blog_content .article .meta span{color:#239dda;}
#blog_post .blog_content .article p {font-size:20px; color:#656565; font-weight:300;}
#blog_post .blog_content .designing_dec{margin:45px 0 40px; padding:45px 0;border-bottom:5px solid #f6f6f6; border-top:5px solid #f6f6f6;}
#blog_post .blog_content .designing_dec .article{text-align: center;}
#blog_post .blog_content .designing_dec .article h2{font-size:14px; padding:28px 0 0; color:#656565; line-height:18px; }
#blog_post .blog_content .design_member{ }
#blog_post .blog_content .design_member .pera{font-size:20px; color:#656565; font-weight:300; padding-bottom:44px; display:inline-block; }
#blog_post .blog_content .design_member .decpe{ }
#blog_post .blog_content .design_member .decpe h2{font-size:36px; padding:30px 0 20px; color:#656565; font-weight:300; margin:0;}
#blog_post .blog_content .design_member .decpe h2 span{color:#229bd8; }
#blog_post .blog_content .design_member .decpe h3{ font-size:20px; color:#8e8e8e; padding-bottom:8px; font-weight:600; margin:0; font-family: "proxima-nova",sans-serif;}
#blog_post .blog_content .design_member .decpe p{font-size:20px; color:#989898; line-height:28px; font-weight:300; margin:0; padding-bottom:25px;}
#blog_post .blog_content .tages{border-top:1px solid #c4c4c4; padding:20px 0 50px; margin-top:35px;}
#blog_post .blog_content .tages p .tag_icon{padding-right: 10px; }
#blog_post .blog_content .tages p{font-size:20px; color:#00a4ed; font-weight:300;}
#blog_post .blog_content .tages p span{color:#676767;}
.introducing_article{background:#f9f9f9;}
.introducing_article .slide_article{position:relative; overflow:hidden; border-bottom:1px solid #c4c4c4;}
.introducing_article .slide_article .arro_lft{background:url(../images/arrow_lft.png) no-repeat; width:19px; height:34px; display:inline-block; position:absolute; left:40px; top:30px; z-index:999;}
.introducing_article .slide_article .arro_rht{background:url(../images/arrow_rht.png) no-repeat; width:19px; height:34px; display:inline-block; position:absolute; right:40px; top:30px; z-index:999; font-weight: 600;}
.introducing_article .slide_article .previous_article{}
.introducing_article .slide_article .previous_article h2{font-size:20px; color:#656565; font-weight: 300; text-align: center;}
.introducing_article .slide_article .previous_article h2 b{ color:#656565; font-weight: 400;}
.you_may{text-align:center;}
.you_may h2{font-size:14px; color:#8a8a8a; font-weight:400; text-align:center; padding:30px 0 20px; margin:0;}
.you_may .article{display:inline-block; margin-right: 25px;}
.you_may .article .image{}
.you_may .article .text{display:inline-flex; padding:15px 0;}
.you_may .article .text h2{padding:0; margin:0;}
.pre_footer{background:#e9e9e9; padding: 35px 0 40px;}
.pre_footer .recent_posts{}
.pre_footer .recent_posts h2{font-size:18px; color:#656565; font-weight:400;}
.pre_footer .recent_posts ul{}
.pre_footer .recent_posts ul li{list-style:none; border-bottom:1px solid #cfcfcf; padding:10px 0 17px; font-size:16px; color:#656565;}
.pre_footer .recent_posts ul li.pdr{list-style:none; border-bottom:0px solid #cfcfcf; padding:2px 0 15px; font-size:16px; color:#656565;}
.pre_footer .recent_posts ul li:first-child{padding:0px 0 7px;}
.pre_footer .recent_posts ul li:nth-of-type(7){border:none;}
.pre_footer .recent_posts ul li.pdr:last-child{color:#656565; border:none;}
.pre_footer .recent_posts ul li:last-child a{color:#239dda; border:none; text-decoration:none;}
.pre_footer .recent_posts ul li:last-child{border:none; }

#blog_post .subscribe_updates{}
#blog_post .subscribe_updates h2{font-size:18px; color:#656565; font-weight:400;}
#blog_post .subscribe_updates h3{font-size:16px; color:#656565; font-weight:400;}
#blog_post .subscribe_updates .form-control{width:285px; height:43px; border:1px solid #e8e8e8; border-radius:0; margin-bottom:15px; box-shadow:none;}
#blog_post .subscribe_updates .btn{}
#blog_post  .subscribe_updates .btn.update{width:285px; height:41px; border:0; border-radius:0; margin-bottom:55px; background:#239dda; font-size:18px; color:#fff; text-align:center;}
.blog-post-item .post_descp .post_heading h2 a{font-size:45px; font-weight:300; color:#8e8e8e;     text-decoration: none;}
#content{padding-top:36px;}
.blog-post-item .post_descp .social{display:none;}
#secondary.sidebar{margin-left:80px;}
#secondary.sidebar .widget-title{font-size:18px;}
.sidebar #email-subscribers-2 .es_textbox .es_textbox_class{border:1px solid #e8e8e8;}
.sidebar #email-subscribers-2 .es_textbox_button{margin-bottom:40px;}
.blog-post-item .post_descp .post_meta .post_img img{border-radius:50%;}
.introducing_article .navigation .nav-previous{position:relative; width:300px; max-width:100%; float:left; margin-left:40px;}
.introducing_article{padding: 25px 0px;}
.introducing_article .navigation .nav-previous a:before{position:absolute; content:"\f104"; top:25px; left:-50px; display:block; font-family: FontAwesome; font-size:50px; color:#28a7df;}
.nav-previous a{color:#656565; font-size:20px; font-weight:300; text-decoration:none;}
.nav-previous a span{color:#656565; font-size:20px; font-weight:400;}
.nav-next a{color:#656565; font-size:20px; font-weight:300; text-decoration:none;}
.nav-next a span{color:#656565; font-size:20px; font-weight:400;}
.introducing_article .navigation .nav-next{position:relative; width:300px; max-width:100%; float:right; margin-right:40px;}
.introducing_article .navigation .nav-next a:after{position:absolute; content:"\f105"; top:25px; right:-35px; display:block; font-family: FontAwesome; font-size:50px; color:#28a7df;}
.introducing_article a .screen-reader-text{font-size:14px; font-weight:600; display:block; text-align:center; text-transform:uppercase; color:#959595;}
.introducing_article a .post-title{font-size:22px; font-weight:300; text-align:center; display:block;     padding-top: 10px; color:#8a8a8a;}
.navigation h2.screen-reader-text{display:none;}

/*Main content css ends here*/

/*tab content Css starts here*/
.nav-tabs {padding-top:70px;}
.nav-tabs { border-bottom: 0px;}
.nav-tabs>li{margin-right:25px; text-align:center;}
.nav-tabs>li.active>a{border-color:transparent; color:#888888;}
.nav-tabs>li.active{border-color:transparent; border-bottom:4px solid #f0b800; color:#888888;}
.nav-tabs>li>a:hover{border-color:transparent; border-bottom:4px solid #f0b800; background-color:transparent; color:#888888;}
.nav-tabs>li>a{ border:0px solid transparent; padding:0px 0px 5px; color:#888888; font-size:22px; font-weight:lighter; text-transform: capitalize;}
.nav-tabs>li.active>a:hover { border-color:transparent;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border-color:transparent; border:0px solid transparent;}
.tab-content{margin-top:55px;}
.blog-post-item {padding-bottom:50px;}
.blog-post-item .banner_img img{width:100%;}
.blog-post-item .post_descp {margin-top:25px;}
.blog-post-item .post_descp .post_meta .post_img{float:left; margin-right:10px;}
.blog-post-item .post_descp .post_meta  p{font-size:18px;font-weight: 300;}
.blog-post-item .post_descp .post_meta  p span{color:#239dda;}
.blog-post-item .post_descp .post_heading h2{font-size:45px; font-weight:300; margin:0; padding:25px 0 15px;}
.blog-post-item .post_descp .post_article{margin-bottom:45px;}
.blog-post-item .post_descp .read_more{}
.blog-post-item .post_descp .read_more .btn.btn_blue{width:185px;}
.blog-post-item .post_descp .social{float:right;}
.blog-post-item .post_descp .social ul li{display:inline-block; margin-left:20px;	}
.blog-post-item .post_descp .social ul li .fa{color:#656565;}
.blog-post-item .post_descp .post_article p{    font-size: 19px;
    color: #6f6f6f;
    font-weight: 300;
    line-height: 26px;}

.blog-post-item .banner_bg{background:url(../images/blog_banner_4.jpg)no-repeat; background-size:cover; padding:100px 0px;}
.blog-post-item .banner_bg .banner_content .banner_heading h2{font-size:80px; text-align:center; color:#fff; font-weight:300;}
.blog-post-item .banner_bg .banner_content p{font-size:25px; color:#fff; width:745px; max-width:100%; text-align:center; margin:0px auto; font-weight:300; padding-bottom:20px;     line-height: 35px;}
.blog-post-item .banner_bg .banner_content .banner_button{text-align:center;}
.blog-post-item .banner_bg .banner_content .banner_button .btn.btn_blue{width:220px; max-width:100%; border-radius:3px; padding:18px 0px; font-size:18px; text-transform:uppercase;}
.load_more{text-align:center; margin-bottom: 50px;}
.load_more .btn.btn_grey{width:530px; background:#e9e9e9; padding:15px 0px; color:#656565; font-size:18px; max-width:100%;}
.load_more .btn.btn_grey .fa{font-size:15px; margin-right:10px;}
/*tab content css ends here*/

/*footer css starts here*/
#blog_post .pre_footer .subscribe_updates{}
#blog_post .pre_footer h2.widget-title {
    font-size:18px; 
    color:#656565; 
    font-weight:600;
}
#blog_post .pre_footer .categories h2.widget-title {
    display: block !important;
}
#blog_post .pre_footer .categories ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    -o-columns: 2;
    columns: 2;
}
    #blog_post .pre_footer .categories li {
        padding-bottom: 0;
    }

#blog_post .pre_footer .subscribe_updates h3{font-size:16px; color:#656565; font-weight:400;}
#blog_post .pre_footer .subscribe_updates .form-control{width:285px; height:43px; border:0; border-radius:0; margin-bottom:15px;}
#blog_post .pre_footer .subscribe_updates .btn{}
#blog_post .pre_footer .subscribe_updates .btn.update{width:285px; height:41px; border:0; border-radius:0; margin-bottom:15px; background:#239dda; font-size:18px; color:#fff; text-align:center;}
#blog_post .footer{background:#212121; padding:30px 0; }
#blog_post .footer .footer_logo{float:left; }
#blog_post .footer .social{
    float: left; 
    margin-top: 20px;
}
#blog_post .footer .social ul li{display:inline-block; margin-left:5px;}
#blog_post .footer .social ul li .fa{ font-size:16px; }
#blog_post .footer .social ul li a.circle{height:32px; width:32px; border-radius:50%; background:#fff; display:block; text-align:center; line-height: 35px; vertical-align: middle; color:#656565;}
#blog_post .footer .social ul li a.circle:hover{background:#f0b800; color:#fff !important;}
.pre_footer .recent_post ul li{list-style:none; border-bottom:1px solid #cfcfcf; padding:10px 0 17px; font-size:16px; color:#656565;}
.pre_footer ul li a{color:#656565; text-decoration:none; text-transform: capitalize}
.pre_footer .categories .cat-item{padding-bottom:7px;}
.pre_footer .categories>ul>li>a{
	font-size: 15px;
    color: #656565;
    font-weight: normal;
	margin:0;
	display: inline-block;
}
.es_button .es_textbox_button{background:#28a7df; color:#fff; width: 285px; max-width:100%; border-color:transparent; padding:7px 0px; font-size:18px;}
.es_textbox .es_textbox_class{ width: 100%; max-width:100%; padding:7px 10px; border-color:transparent;}


.search-form label .screen-reader-text{display:none;}
.search-form label {margin-bottom:0px;}
.search-form .search-field{border:1px solid #e8e8e8; padding:5px 5px; height:39px;color: #656565; font-weight: 300;     margin-right: 5px;}


#hdr_search{padding:8px 14px; top:45px !important;}

.search-submit.btn.btn_blue{ padding:6px 15px;}

.nav-links>a{display:inline;}
.nav-links>a,.nav-links>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd; cursor:pointer; margin:0 2px;}
.nav-links>a,.nav-links>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}
.nav-links>a,.nav-links>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.nav-links>a:focus,.nav-links>a:hover,.nav-links>span:focus,.nav-links>span:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd}
.nav-links>a:focus,.nav-links>a:hover,.nav-links>span:focus,.nav-links>span:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7}

.modal-content{ box-shadow:none; border:0px; background:#28a7df;}
.modal-open .modal{ background:#28a7df;}
.modal-header, .modal-footer{ border:0px;}
.modal-header .close {
    margin-top: -2px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    font-size: 36px;
}
.modal-content h3{
	color:#fff;
	margin-bottom:30px;
}
.modal-content .primary-menu{ color:#fff;}
.modal-content .primary-menu li{ border-bottom: 0px solid #ccc; font-size:18px; font-weight:300;}
.modal-content .primary-menu li a{ color:#fff;}
/*footer css ends here*/

/* New Post Header style */
.post-head {
    height: 500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
    .post-head:before {
        background: rgba(0,0,0,0.5);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .post-head img {
        height: auto;
        max-width: none;
        min-height: 500px;
        min-width: 100%;
        width: auto;
    }

    .post-head .post-title {
        color: #fff;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
        
        .post-head .post-title h2 {
            font-size: 48px;
            text-align: center;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
        }
        
        .post-head .post-meta {
            text-align: center;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
        }
            .post-head .post-meta a {
                color: #fff;    
            }
            
        .post-head .post-meta-value {
            display: inline-block;
            margin: 0 20px;
        }
.single #content{
    padding-top: 30px;
}
.es_textbox_button:hover {
    background: #F59121;
}
/* End of new post header style */


/* .right-aside */
.right-aside {
  background: #262628;
  width: 223px;
  height: 100%;
  min-height: 650px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 989;
}

.right-aside.moving {
  display: block;
}

.right-aside .btn-icon-close {
  background: url(../../i/icon-sprites.png) no-repeat;
  background-position: -168px 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 28px;
  right: 6px;
}

.right-aside .btn-icon-close:hover {
  opacity: 0.6;
}

.right-aside .nav-menu ul {
  padding: 24px 20px 20px 33px;
}

.right-aside .nav-menu ul li {
  line-height: 33px;
}

.right-aside .nav-menu ul li a {
  font-family: "proxima-nova",sans-serif;
  font-size: 17.06px;
  color: #f0f0f0;
  letter-spacing: 0.7px;
}

.right-aside .nav-menu-small ul {
  padding: 24px 20px 20px 31px;
}

.right-aside .nav-menu-small ul li {
  line-height: 24px;
}

.right-aside .nav-menu-small ul li a {
  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
  color: #f0f0f0;
  letter-spacing: 0.5px;
}

.right-aside .aside-follow {
  padding: 23px 20px 20px 34px;
}

.right-aside .aside-follow .titles {
  font-family: "proxima-nova",sans-serif;
  font-size: 11.94px;
  color: #fff;
  text-transform: uppercase;
  line-height: 30px;
}

.right-aside .aside-follow .icon-box .icons {
  background: url(../../i/icon-sprites.png) no-repeat;
  width: 24px;
  height: 24px;
  float: left;
  margin: -1px 3px 0 -3px;
}

.right-aside .aside-follow .icon-box .icons:hover {
  opacity: 0.8;
}

.right-aside .aside-follow .icon-box .icons.icon-tt {
  background-position: -192px 0;
  margin-right: 5px;
}

.right-aside .aside-follow .icon-box .icons.icon-fb {
  background-position: -216px 0;
  margin-right: 7px;
}

.right-aside .aside-follow .icon-box .icons.icon-gg {
  background-position: -240px 0;
  margin-right: 5px;
}

.right-aside .aside-follow .icon-box .icons.icon-ig {
  background-position: -264px 0;
}


.site-main {
    padding-top: 70px;
}

.blog-list-item {
    border-radius: 3px;
    color: #fff;
    height: 400px;
    margin-bottom: 60px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
    .blog-list-item:before {
        background: rgba(0,0,0,0.5);
        content: '';
        height: 400px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .blog-list-item img {
        height: auto;
        min-height: 400px;
        width: 100%;
        z-index: 1;
    }
.blog-list-item-content {
    padding: 40px;
    position: absolute;
    width: 100%;
    z-index: 3;
}
    .blog-list-item-content h2 {
        font-size: 32px;
        text-shadow: 0 0 2px rgba(0,0,0,0.5);
    }
    .blog-list-item-excerpt {
        font-size: 18px;
        line-height: 1.5;
        margin: 2em auto;
        max-width: 520px;
        text-shadow: 0 0 2px rgba(0,0,0,0.5);
    }
    .blog-list-item-button {
        border: 2px solid #fff;
        border-radius: 3px;
        color: #fff;
        display: block;
        font-size: 18px;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        text-shadow: 0 0 2px rgba(0,0,0,0.5);
        width: 200px;
    }
        .blog-list-item-button:hover {
            background: rgba(255, 255, 255, 0.5);
            color: #fff;
            text-decoration: none;
        }

.entry-content {
    font-size: 18px;
    line-height: 1.5;
}

.footer-subscribe {
    color: #fff;
}
    .footer-subscribe .es_textbox_class {
        color: #333;
    }
    .footer-subscribe .widget-title {
        font-size: 27px;
    }

.footer .social_icon{
    margin-top: 15px;
}

.btn-header-subscribe, .btn-header-subscribe:active, .btn-header-subscribe:focus {
    background: #069ad6;
    color: #fff;
    height: 39px;
    line-height: 39px;
    outline: 0;
    padding: 0 10px;
    position: absolute;
    right: 90px;
    text-decoration: none;
    top: 0;
    transition: all 0.3s ease;
}
    .btn-header-subscribe:hover {
        background: #f0b800;
        color: #fff;
        text-decoration: none;
    }

#mce-EMAIL {
    border: 0;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 10px;
    width: 100%;
}

#mc-embedded-subscribe {
    background: #23527c;
    border: 0;
    color: #fff;
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    transition: all 0.3s ease;
}
    #mc-embedded-subscribe:hover {
        background: #f0b800;
        color: #fff;
        text-decoration: none;
    }

/* .footer */
.footer {
  min-height: 383px;
  /* .footer .item-list */
}

.footer .footer-main {
  padding: 86px 101px 0 64px;
}

.footer .left-box {
  text-align: center;
  float: left;
  width: 16%;
}

.footer .icon-footer-logo {
  background: url(../../i/icon-sprites.png) -528px -24px no-repeat;
  display: inline-block;
  width: 96px;
  height: 48px;
  margin-right: auto;
  margin-left: -3px;
}

.footer .item-list {
  margin-left: 16%;
}

.footer .item-list .item {
  text-align: center;
  margin-top: 18px;
  float: left;
  width: 24%;
}

.footer .item-list .item .col {
  max-width: 130px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.footer .item-list .item .col .titles {
  font-family: "proxima-nova",sans-serif;
  font-size: 15px;
  color: #2c2c2b;
  margin-bottom: 23px;
}

.footer .item-list .item .col ul > li > a {
  font-family: "proxima-nova",sans-serif;
  font-size: 15px;
  color: #2c2c2b;
  line-height: 25px;
}


@media (min-width: 1280px){
	.container { width: 1190px;}
}

/*responsive css starts here*/

@media screen and (max-width:768px){
#header .logo{text-align:center; margin-bottom: 15px;}
#widget_sp_image-3.home_break .widget-title{font-size:45px;}	
.nav-tabs > li > a{border:4px solid transparent;}

.nav-tabs > li{float:none; text-align:center; margin:0px 20px 20px 0;  display:inline-block; 	width: auto; margin: 0px auto; max-width: 100%;}	

#blog_post .footer .social{text-align:center; float:none; margin:20px 0px;}
.footer .social_icon{
    text-align:center;
}
#main-menu{z-index:999;}
.blog-post-item .post_descp .post_heading h2 a{font-size:30px;}
.heading h2{font-size:39px;}
#secondary.sidebar{margin-left:0px;}
.nav-tabs > li > a{font-size:21px;}
.nav-tabs{padding-top:30px;}
#hdr_search{display:block; width:100%; text-align:center;}
#main-menu{display:block; width:100%; text-align:center;}
#header .menu ul li:last-child{margin-right:0px}
.nav-next{margin-top:30px;}
.nav-previous {margin-top:30px;}
#main-menu_mob{border:1px solid #ccc; margin:0px 10px;}
#main-menu_mob ul li {border-bottom:1px solid #ccc;}
#main-menu_mob ul li:last-child{border-bottom:0px;}
#main-menu_mob ul li a	{    color: #656565;
    text-decoration: none;}
#hdr_search_mob{padding:5px 18px; border:1px solid #ccc;  width: 300px; margin-right:30px; max-width:100%; float:right; background:#fff; }

.banner_2 img{height:auto; max-width:100%;}
.banner_3 img{height:auto; max-width:100%;}
.feat_img img{height:auto; max-width:100%;}
}
@media screen and (max-width:400px){
#hdr_search_mob{padding:5px 18px; border:1px solid #ccc; text-align:center; width: 300px; margin:0px auto; float:none;}	
#header .menu ul li a{font-size: 13px;}	

}


.sidenav { height: 100%;  width: 0; position: fixed;  z-index: 1; top: 0;  right: 0; background-color: #111; overflow-x: hidden; transition: 0.5s; padding-top: 60px; z-index:9999;}
.sidenav .right-aside {
    display: block;
    width: 100%;
}


#page {transition: margin-right .6s;}
.primary-menu li{border-bottom:1px solid transparent !important;}
.menu_item h3{font-size:20px;  color:#fff;}
.menu_item h3{font-size:20px;}
.sidenav a{font-size:18px; color:#fff; transition:all 0.3s ease;}
.sidenav a:hover{color:#f0b800;}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}